extends layouts/main-layout.pug

block content 
    if !profileUser
        span.errorMessage Такого пользователя не существует или он не был найден. Пожалуйста укажите верный никнейм пользователя.
    else
        script. 
            const profileUserId = '!{profileUser._id}'
            const selectedTab = '!{selectedTab}'

        .profileHeaderContainer     
            .coverPhotoContainer 

                .userImageContainer
                    img(src=profileUser.profilePic, alt="Фото пользователя")
            .profileButtonsContainer
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    
                    - const profileUserId = profileUser._id.toString();
                    - if (userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else 
                        +createFollowButton(profileUser, false)

            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.username}
                span.description #{profileUser.description}

                .followersContainer 
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{0}
                        span Подписок
                    a(href=`/profile/${profileUser.username}/followers`)
                        span.value #{0}
                        span Подписчиков

        .tabsContainer  
            +createTab("Сообщения", `/profile/${profileUser.username}`, selectedTab != 'replies')
            +createTab("Ответы", `/profile/${profileUser.username}/replies`, selectedTab == 'replies')

        .postsContainer

        +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/profile.js")