extends layouts/login-layout.pug

block content  
    .loginContainer 
        h1 Регистрация 
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="Введите имя", value=firstName, required="")
            input(type="text", name="lastName", placeholder="Введите фамилию", value=lastName, required="")
            input(type="text", name="username", placeholder="Введите username", value=username, required="")
            input(type="email", name="email", placeholder="Введите почту", value=email, required="")
            input#password(type="password", name="password", placeholder="Введите пароль", required="")
            input#passwordConfirm(type="password", name="passwordConfirm", placeholder="Введите пароль ещё раз", required="")
            input(type="submit", value="Зарегистрироваться")
        a(href="/login") Уже есть аккаунт? Войдите здесь

    script. 
        const passwordField = document.getElementById("password")
        const passwordConfirmField = document.getElementById("passwordConfirm")

        const form = document.getElementById("registerForm")

        function validateForm() {
            if (passwordField.value != passwordConfirmField.value) {
                alert("Пароли не совпадают, пожалуйста попробуйте ещё раз")
            } else {
                form.submit();
            }
        }