mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Фото пользователя")
        .textareaContainer 
            textarea#postTextarea(placeholder="Что нового?")
            .buttonsContainer
                button#submitPostButton(disabled="") Отправить 


mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Комментарии
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="Фото пользователя")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="Ваш комментарий")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Закрыть
                    button#submitReplyButton.btn.btn-primary(type='button', disables="") Прокомментировать


mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Удаление сообщения
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Вы точно хотите удалить данное сообщение?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Закрыть
                    button#deletePostButton.btn.btn-primary(type='button') Удалить

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnnedPostModal()
    +creatUnpinPostModal()
    


mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Подписан" : "Подписаться"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}


mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageUploadModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Изменить фото профиля
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer 
                        img#imagePreview

                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Отменить
                    button#imageUploadButton.btn.btn-primary(type='button') Сохранить

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Изменить фото обложки
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .coverPhotoPreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Отменить
                    button#coverPhotoButton.btn.btn-primary(type='button') Сохранить

mixin createPinnnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Закрепить сообщение
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Закрепить это сообщение вверху вашей ленты? Вы можете закрепить только одно сообщение.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Отменить
                    button#pinPostButton.btn.btn-primary(type='button') Закрепить

mixin creatUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinPinModalLabel.modal-title Открепить сообщение
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p Вы уверены, что хотите открепить закреплённое сообщение?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Отменить
                    button#unpinPostButton.btn.btn-primary(type='button') Открепить